/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Color */
:root{
    --primary-color: #314E5D;
    --secondary-color: #84C1E0;
    --third-color: #F2F2F2;
    --fourth-color: #F3A528;
}

/* Style */
body{
    margin: 0;
    min-height: 100vh;
    background-color: var(--primary-color);
    font-family: Montserrat, 'Seoge UI';
}

hr{
    margin-bottom: 40px;
    background-color: var(--secondary-color);
    height: 2px;
}

img{width: 100%;height: 100%;}

h1{font-weight: 700;color: #fff;}
h2{font-weight: 400;color: #fff;}
h3{font-weight: 700;color: #fff;}
p{font-weight: 400;color: #fff;}

/* Header */
header{
    width: 100%;
    height: 90px;
    display: flex;
}

/* Header: Logo */
.logo{height: 90px; width: 50%;}
.textLogo{margin-left: 20px;color: #fff;font-size: 52px;}
.logoLine{background-color: var(--fourth-color);width: 280px;height: 2px;}

/* Header: Menu */
.menu{height: 90px;width: 50%;}

.textMenu{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

a:link{color: #FFFFFFB5;text-decoration: none;font-size: 30px;}

a:link:hover{color: #fff;}

/* Herobanner */
.herobanner{
    background-image: url(../img/herobanner.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 40vh;
    display: flex;
}

.herobannerH1, .herobannerH2{ width: 50%;height: 100%;}
.herobannerH1Text, .herobannerH2Text{width: 100%;height: 100%;display: flex;}
.herobannerH1Text{margin-top: 5%;justify-content: center;}
.herobannerH2Text{align-items: end;justify-content: right;margin: -5%;}

/* Footer */
footer{background-color: #1C2E37;width: 100%;height: 31vh;}

/* Footer: Text */
.footerBoxOne{width: 100%;height: 25vh;display: flex;}

.footerBoxOne div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 33.33%;
    height: 25vh;
}

.snarveierTxt, .anpnigstiderTxt, .contactTxt{margin-left: 40%;}

/* Footer: Icons */
.footerCompanyLogo{width: 100%;height: 6vh;}

.CompanyLogos{
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 1vw;
    margin-right: 2vw;
}

.CompanyLogos div{
    width: 3vw;
    height: 5vh;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}

.facebookIcon{background-image: url(../img/facbook-icon.png);}
.instagramIcon{background-image: url(../img/instagram-icon.png);}
.snapchatIcon{background-image: url(../img/snapchat-icon.png);}