/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Color */
:root{
    --primary-color: #314E5D;
    --secondary-color: #84C1E0;
    --third-color: #F2F2F2;
    --fourth-color: #F3A528;
}

/* Style */
body{
    margin: 0;
    min-height: 100vh;
    background-color: var(--primary-color);
    font-family: Montserrat, 'Seoge UI';
}

hr{
    margin-bottom: 40px;
    background-color: var(--secondary-color);
    height: 2px;
}

img{
    width: 100%;
    height: 100%;
}

h1{font-weight: 700;color: #fff;}
h2{font-weight: 400;color: #fff;}
h3{font-weight: 700;color: #fff;}
p{font-weight: 400;color: #fff;}

/* Header */
header{
    width: 100%;
    height: 90px;
    display: flex;
}

/* Header: Logo */
.logo{
    height: 90px;
    width: 50%;
}

.textLogo{
    margin-left: 20px;
    color: #fff;
    font-size: 52px;
}

.logoLine{
    background-color: var(--fourth-color);
    width: 280px;
    height: 2px;
}

/* Header: Menu */
.menu{
    height: 90px;
    width: 50%;
}

.textMenu{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

a:link{
    color: #fff;
    text-decoration: none;
    font-size: 30px;
}

a:link:hover{
    color: #a4a4a4;
}

/* Herobanner */
.herobanner{
    background-image: url(../img/herobanner.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 40vh;
    display: flex;
}

.herobannerH1, .herobannerH2{
    width: 50%;
    height: 100%;
}

.herobannerH1Text, .herobannerH2Text{
    width: 100%;
    height: 100%;
    display: flex;
}

.herobannerH1Text{
    margin-top: 5%;
    justify-content: center;
}

.herobannerH2Text{
    align-items: end;
    justify-content: right;
    margin: -5%;
}

/* Tre images */
.treImages{
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.TIimageOne{
    width: 25%;
    height: 80%;
    border-radius: 5px;
}

/* Ukens tilbud */
.ukensTilbud{
    width: 100%;
    margin-bottom: 40px;
}

.ukensTibudTxt{
    margin-left: 100px;
    margin-bottom: 20px;
}

.ukensTilbudImages{
    display: flex;
    gap: 60px;
    justify-content: center;
}

/* Ukens tilbud: Pictures */
.UTimages{
    background-color: var(--third-color);
    border-radius: 5px;
    width: 300px;
    height: 470px;
}

.UTimageJK{
    background-image: url(../img/jacket.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    width: 100%;
    height: 70%;
}

.UTimageTxt{
    margin: 10px;
    color: #000;
}

/* Fornoyde kunder */
.fornoydeKunder{
    width: 100%;
    margin-bottom: 100px;
}

.FKtxt{
    margin-left: 100px;
}

.FKboxes{
    width: 100%;
    display: flex;
    gap: 40px;
    justify-content: center;
}

.FKbox{
    background-color: var(--third-color);
    border-radius: 5px;
    width: 30%;
    height: 25vh;
    display: flex;
}

.FKprofilePicture{
    display: flex;
    width: 40%;
    height: 25vh;
    justify-content: center;
    align-items: center;
}

.FLpp{
    height: 60%;
    width: 60%;
}

.FKreview{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 25vh;
}

.FKrt{
    color: #000;
}

.star{
    width: 20px;
    height: 20px;
    color: #F3A528;
}

.starBlack{color: #000;}

/* Footer */
footer{
    background-color: #1C2E37;
    width: 100%;
    height: 30vh;
}

/* Footer: Text */
.footerBoxOne{
    width: 100%;
    height: 25vh;
    display: flex;
}

.footerBoxOne div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 33.33%;
    height: 25vh;
}

.snarveierTxt{margin-left: 40%;}
.anpnigstiderTxt{margin-left: 40%;}
.contactTxt{margin-left: 40%;}

/* Footer: Icons */
.footerCompanyLogo{
    width: 100%;
    height: 5vh;
    background-color: var(--fourth-color);
    display: flex;
    align-items: end;
}

.CompanyLogos div{
    background-color: var(--secondary-color);
    width: 3vw;
    height: 5vh;
    background-size: cover;
    background-position: center;
}

.facebookIcon{background-image: url(../img/facbook-icon.png);}
.instagramIcon{background-image: url(../img/instagram-icon.png);}
.snapchatIcon{background-image: url(../img/snapchat-icon.png);}